.administration button{
    border-radius: 4px;
    background-color: #9c9c9c;
    color: white;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    margin-left: 0.5%;
}

.administration button:hover{
    background-color: white;
    color: black;

}

.administration img{
    width: 2%;
    vertical-align: middle;

}

.administration label{
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    width:100%;
}

.administration input{
    border-color: black;
    width: 15%;
    padding: 0.2%;
    margin-right: 0.5%;

}


#eventi_administration{
    height: 200px;
    width:100%;
    overflow-y: auto;
    border-bottom: 2px solid black;
    padding-bottom: 2%;
    margin-top: 1%;
}


#aule_administration{
    height: 200px;
    width:100%;
    overflow-y: auto;
    margin-top: 1%;
}

/*
    CSS EVENTI ADMINISTRATION
*/

.form.event h3,h4{
    font-family: sans-serif;
}

.form.event input{
    border-color: black;
    width: 20%;
    padding: 0.4%;
    margin-right:0.5%;
    margin-bottom:0.5%;
    margin-left: 0.5%;
}

.form.event input[type="date"]{
    width:10%;
}

.form.event input[type="time"]{
    width:5%;
}

.form.event input[type="radio"]{
    width: 100%;
}

.form.event #responsabile td{
    padding: 0.5%;
    font-family: sans-serif;
    font-size: medium;
    border: 2px solid black;
    text-align: center;
    background-color: white;
}

.form.event #responsabile table{
    width:50%;
}

.form.event #fine_ricorrenza{
    margin-top: 2%;
    margin-left: 1%;
    padding-left: 0.5%;
    border-left: 3px solid black;
}

.form.event #corso{
    margin-top: 2%;
    margin-left: 1%;
    padding-left: 1%;
    border-left: 3px solid black;
}

.form.event #corso table{
    width: 60%;
}

.form.event #aula table{
    width: 20%;
}

.form.event table{
    width:30%;
}



.form.event textarea{
    border-color: black;
}

.form.event button{
    font-weight: bold;
    font-size: medium;
    color:white;
    background-color: #9c9c9c;
    border-radius: 4px;
    margin-bottom: 2%;
}

.form.event button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.form.event button:disabled{
    background-color: #c0c0c0;
    color: white;
    cursor: inherit;
}

#aula{
    margin-bottom: 1%;
}

/*
    CSS AULE ADMINISTRATION
*/

.form.aula h3,h4{
    font-family: sans-serif;
}

.form.aula input{
    border-color: black;
    width: 20%;
    padding: 0.4%;
    margin-right:1%;
    margin-bottom:0.5%;
    margin-left: 0.5%;
}

.form.aula input[type="radio"]{
    width: 100%;
}

.form.aula input[type="checkbox"]{
    width: 100%;
}

.form.aula input[type="number"]{
    width: 5%;
}

.form.aula #responsabile td{
    padding: 0.5%;
    font-family: sans-serif;
    font-size: medium;
    border: 2px solid black;
    text-align: center;
    background-color: white;
}

.form.aula #responsabile table{
    width:50%;
}

.form.aula #attrezzatura td{
    padding: 0.5%;
    font-family: sans-serif;
    font-size: medium;
    border: 2px solid black;
    text-align: center;
    background-color: white;
}

.form.aula .attrezzatura_chack{
    width: 7%;
}

.form.aula #attrezzatura table{
    width:50%;
}

.form.aula #gruppo table{
    width:50%;
}

.form.aula textarea{
    border-color: black;
}

.form.aula button{
    font-weight: bold;
    font-size: medium;
    color:white;
    background-color: #9c9c9c;
    border-radius: 4px;
    margin-bottom: 2%;
    margin-right: 1%;
}

.form.aula button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.form.aula button:disabled{
    background-color: #c0c0c0;
    color: white;
    cursor: inherit;
}

.form.aula .info{
    font-family: sans-serif;
    font-style: italic;
}

