#popupAssegnaGruppo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c0c0c0;
    padding-bottom: 5%;
    border-radius: 2px;
    border: 1px solid black;
    clear:both;
    width:70%;
    text-align: center;
}


#popupAssegnaGruppo h2{
    font-family: sans-serif;
    color: white;
    text-shadow: -1.5px 0 #000000, 0 1.5px #000000, 1.5px 0 #000000, 0 -1.5px #000000;
}


#popupAssegnaGruppo .exit{
    float:right;
    width: 10%;
    margin-top: 2%;
}


#popupAssegnaGruppo .exit button{
    height: 30px;
    width: 30px;
    border-radius: 0px;
    border-color: black;
    background-color: white;
    font-weight: bold;
    font-size: large;
    color: red;
    cursor: pointer;
}

#popupAssegnaGruppo .exit button:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

#popupAssegnaGruppo button{
    font-weight: bold;
    font-size: medium;
    color:white;
    background-color: #9c9c9c;
    border-radius: 4px;
    cursor: pointer;
    margin-left:1%;
}

#popupAssegnaGruppo button:hover{
    color: black;
    background-color: white;
}

/* Stili di base per il select */
.form.gruppo select {
    padding: 0.5%;
    border: 2px solid black;
    margin-bottom: 1%;
}


.form.gruppo button{
    font-weight: bold;
    font-size: medium;
    color:white;
    background-color: #9c9c9c;
    border-radius: 4px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.form.gruppo button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.form.gruppo button:disabled{
    background-color: #c0c0c0;
    color: white;
    cursor: inherit;
}
/* Stili quando il select è attivo */
.form.gruppo select:focus {
    outline: none;
    background-color: #add8e6;
    border-color: #555;
    box-shadow: 0 0 5px rgba(85, 85, 85, 0.5);
}

/* Stili per l'opzione selezionata */
.form.gruppo select option:checked {
    background-color: #e0e0e0;
}

/* Stili per le opzioni del select quando sono disabilitate */
.form.gruppo select option:disabled {
    color: #999;
}
