#popupAula{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c0c0c0;
    padding-bottom: 5%;
    border-radius: 2px;
    border: 1px solid black;
    clear:both;
    width:70%;
    text-align: center;
}


#popupAula h2{
    font-family: sans-serif;
    color: white;
    text-shadow: -1.5px 0 #000000, 0 1.5px #000000, 1.5px 0 #000000, 0 -1.5px #000000;
}

#popupAula .error h2{
    font-family: sans-serif;
    color: white;
    text-shadow: -1.5px 0 #ff0000, 0 1.5px #ff0000, 1.5px 0 #ff0000, 0 -1.5px #ff0000;
}

#popupAula .error p{
    font-weight: bold;
    font-size: large;
    padding-left:5%;
    padding-right: 5%;
}

#popupAula p.search.null{
    font-size: large;
    padding-left:5%;
    padding-right: 5%;
}

#popupAula .exit{
    float:right;
    width: 10%;
    margin-top: 2%;
}


#popupAula .exit button{
    height: 30px;
    width: 30px;
    border-radius: 0px;
    border-color: black;
    background-color: white;
    font-weight: bold;
    font-size: large;
    color: red;
    cursor: pointer;
}

#popupAula .exit button:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

#popupAula p.attrezzature{
    font-style: italic;
    color:blue;
    font-weight: bold;
    cursor: pointer;
}

#popupAula p.attrezzature:hover{
    color:red;
}

#popupAula button{
    font-weight: bold;
    font-size: medium;
    color:white;
    background-color: #9c9c9c;
    border-radius: 4px;
    cursor: pointer;
    margin-left:1%;
}

#popupAula button:hover{
    color: black;
    background-color: white;
}





